/* RESET ================*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-body: #400202d1;
  --color-font: #ffffff;

/* fonts */
  --font: 'Audiowide', sans-serif;
}

/* BASE */
body {
  background-color: var(--color-body);
  color: var(--color-font);
  font-family: var(--font);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(50deg, rgba(255,255,255,1) 0%,
  rgba(64,2,2,0.82) 100%);
} 

.divider-2 {
  height: 1px;
  background: linear-gradient(50deg, rgba(64,2,2,0.82) 0%, rgba(255,255,255,1) 100%);
}

.subtitle {
  margin-top: 2rem;
  font-size: 2rem;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* header */
.cabecalho {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 4.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body);
  backdrop-filter: blur(10px);
}

.cabecalho-menu-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid gree;
  margin-right: 2rem;
  color:  var(--color-font);
  font-size: 1.25rem;
  font-family: var(--font);
  text-align: center;
  
}

/* main sobre */
.conteudo {
  padding-top: 7rem;
  margin: auto;
  display: flex;
  flex-direction: column;

}

img.conteudo-img {
  align-items: center;
  height: 40rem;
  width: 30rem;
  margin-bottom: 2rem;
}

/* PROJETOS */


#project h3 {
display: flex;
align-items: center;
justify-content: center;
margin: 2rem auto;
font-size: 1.75rem;
}

#project img {
  width: 40rem;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  margin-top: 1.5rem;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--color-body);
}